@font-face {
  font-family: "ms-IconSet0";
  src: url("https://spoprod-a.akamaihd.net/files/fabric/assets/icons/fabric-icons-0-467ee27f.woff")
    format("woff");
}
.ms-IconSet0 {
  font-family: "ms-IconSet0";
  font-size: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  speak: none;
}
