.linkedin {
  /* General fonts */
  --ms-font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;

  /* Weights */
  --ms-font-weight-light: 300;
  --ms-font-weight-normal: 400;
  --ms-font-weight-bold: 600;

  /* Sizes */
  --ms-font-size-sm2: 10px;
  --ms-font-size-sm1: 12px;
  --ms-font-size-med: 14px;
  --ms-font-size-lg1: 16px;
  --ms-font-size-lg2: 20px;
  --ms-font-size-lg3: 24px;
  --ms-font-size-lg4: 32px;
  --ms-font-size-lg5: 48px;
  --ms-font-size-lg6: 64px;

  /* Space */
  --ms-space-sm3: 2px;
  --ms-space-sm2: 4px;
  --ms-space-sm1: 6px;
  --ms-space-med: 8px;
  --ms-space-lg1: 16px;
  --ms-space-lg2: 20px;
  --ms-space-lg3: 24px;
  --ms-space-lg4: 32px;
  --ms-space-lg5: 48px;
  --ms-space-lg6: 64px;
  --ms-space-lg6: 128px;

  /* Component specifics */
  --ms-button-height: 32px;
  --ms-button-font-size: 16px;
  --ms-button-font-weight: var(--ms-font-weight-bold);
  --ms-button-padding: 6px 12px;
  --ms-button-border-radius: 2px;

  --ms-background-disabled: rgb(243, 242, 241);
  --ms-text-disabled: rgb(161, 159, 157);
  --ms-button-shadow-disabled: none;
}

.linkedin.light {
  --ms-text: #000;
}

.linkedin .accent-fill {
  --ms-background: rgb(0, 115, 177);
  --ms-text: white;
  --ms-divider-background: white;
  --ms-border-width: 1px;
  --ms-border: transparent;
  --ms-border-radius: 4px;
  --ms-focus: black;
  --ms-focusInner: white;
  --ms-background-hover: rgb(0, 115, 177);
  --ms-text-hover: var(--ms-text);
  --ms-border-hover: var(--ms-border);

  --ms-background-pressed: rgb(0, 96, 151);
  --ms-text-pressed: var(--ms-text);
  --ms-border-pressed: var(--ms-border);
}

.linkedin .neutral-fill {
  --ms-background: #fff;
  --ms-text: rgba(0, 0, 0, 0.6);
  --ms-border-width: 1px;
  --ms-border: rgb(138, 136, 134);
  --ms-border-radius: 2px;

  --ms-background-hover: rgba(207, 207, 207, 0.25);
  --ms-text-hover: rgb(32, 31, 30);
  --ms-border-hover: rgba(0, 0, 0, 0.75);
  --ms-border-width-hover: 2px;
  --ms-background-pressed: rgb(237, 235, 233);
}

.linkedin .disabled-fill {
  --ms-border: transparent;
  --ms-background: rgb(235, 235, 235);
  --ms-text: rgb(180, 180, 180);
}

.linkedin.dark .disabled-fill {
  --ms-background: rgb(83, 83, 83);
  --ms-text: rgb(143, 143, 143);
}

.linkedin.hc .disabled-fill {
  --ms-background: rgb(65, 65, 65);
  --ms-text: rgb(143, 143, 143);
  --ms-text-disabled: rgb(112, 112, 112);
}
