@mixin ms-spacing {
  --ms-space-sm3: 2px;
  --ms-space-sm2: 4px;
  --ms-space-sm1: 6px;
  --ms-space-med: 8px;
  --ms-space-lg1: 11px;
  --ms-space-lg2: 20px;
  --ms-space-lg3: 40px;
  --ms-space-lg4: 32px;
  --ms-space-lg5: 48px;
  --ms-space-lg6: 64px;
  --ms-space-lg6: 128px;
}