
.root {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  outline: none;
}

.disabled {
  color: var(--ms-text-disabled);
}

.root > *:not(:first-child) {
  margin-left: 8px;
}

.box {
  transition: all ease-out .12s;
  box-sizing: border-box;
  position: relative;
  user-select: none;
  margin: 0;
  padding: 0;
  color: var(--ms-text);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--ms-checkbox-size, 20px);
  height: var(--ms-checkbox-size, 20px);
  border-width: 1px;
  border-style: solid;
  border-color: var(--ms-checkbox-border, var(--ms-border));
  border-radius: 2px;
  background: var(--ms-background);
  font-size: var(--ms-checkbox-icon-size, 16px);
}

.icon {
  opacity: 0;
}

.root:hover .icon {
  opacity: .5;
}

.root.checked .icon {
  opacity: 1;
}

.checked .thumb {
  transform: translate(20px, -50%);
}

.root:focus .box::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  left: calc(var(--ms-checkbox-focus-offset, 0px) - 1px);
  top: calc(var(--ms-checkbox-focus-offset, 0px) - 1px);;
  right: calc(var(--ms-checkbox-focus-offset, 0px) - 1px);;
  bottom: calc(var(--ms-checkbox-focus-offset, 0px) - 1px);;
  border: 2px solid var(--ms-focus);
  box-shadow: 0 0 0 1px var(--ms-focusInner) inset;
  border-radius: 2px;
}

.disabled {
  pointer-events: none;
}